/*@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');*/

:root{
    --header-height: 3rem;
    --font-semi: 600;
  }
  
  /*===== Colores =====*/
  :root{
    --first-color: #4070F4;
    --second-color: #0E2431;
  }
  
  /*===== Fuente y tipografia =====*/
  :root{
    --body-font: 'Poppins', sans-serif;
    --big-font-size: 2rem;
    --h2-font-size: 1.25rem;
    --normal-font-size: 0.938rem;
  }
  @media screen and (min-width: 768px){
    :root{
      --big-font-size: 3rem;
      --h2-font-size: 2rem;
      --normal-font-size: 1rem;
    }
  }
  
  /*===== Margenes =====*/
  :root{
    --mb-1: 0.5rem;
    --mb-2: 1rem;
    --mb-3: 1.5rem;
    --mb-4: 2rem;
    --mb-5: 2.5rem;
    --mb-6: 3rem;
  }
  
  /*===== z index =====*/
  :root{
    --z-back: -10;
    --z-normal: 1;
    --z-tooltip: 10;
    --z-fixed: 100;
  }

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    
    /*font-family: var(--body-font);*/

}

.navbar-brand{
    font-size: var(--normal-font-size)!important;
    
    
}

/*--navigation--*/
.I_header{
  top: 0;
  left: 0;
  z-index: var(--z-fixed);
  background-color: #fff;
  padding-bottom: 10px;
  box-shadow: 0 1px 4px rgba(146,161,176,.15);
}
.nav{
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: var(--font-semi);
    
}
.navbar-brand{
  padding-right: var(--mb-6);
}
.contain{

  padding-top: 40px;
  width: 700px !important;

}

.form-control{
    border-radius: 0% !important;

}
@media screen and (max-width: 567px){

  .contain{
    width: 350px!important;
  }
  
}
.footer{
  background-color: var(--second-color);
  color: rgb(250, 243, 243);
  
  bottom: 0;
  width: 100%;
  text-align: center;
  font-weight: var(--font-semi);
  padding: 2rem 0;
  margin-top: var(--mb-6);
}
.footer__title{
  font-size: 2rem;
  margin-bottom: var(--mb-4);
}
.footer__social{
  margin-bottom: var(--mb-4);
}
.footer__icon{
  font-size: 1.5rem;
  color: #fff;
  margin: 0 var(--mb-2)
}
.home {
  
  
  height : 100vh;

}
.bd-grid{
  max-width: 1024px;
  display: grid;
  grid-template-columns: 100%;
  grid-column-gap: 2rem;
  width: calc(100% - 2rem);
  margin-left: var(--mb-2);
  margin-right: var(--mb-2);
  
}
.home__data{
  align-self: center;
}
.home__title{
  font-size: var(--big-font-size);
  margin-bottom: var(--mb-5);
}
.home__title-color{
  color: var(--first-color);
}

.home__img{
  position: absolute;
  right: 0;
  bottom: 0;
  width: 295px;
}
.center-content{

  padding: 100px ;
}
.button{
  display: inline-block;
  background-color: var(--first-color);
  color: #fff;
  padding: .75rem 2.5rem;
  font-weight: var(--font-semi);
  border-radius: .5rem;
  margin-top: .75rem;
}
.button:hover{
  text-decoration: none;
  color: #fff;
}
.center-content{
  box-shadow: 0 1px 4px rgba(146,161,176,.15)!important;
}
.section-title{
  /*position: relative;
  font-size: var(--h2-font-size);
  
  margin-top: var(--mb-2);
  margin-bottom: var(--mb-4);*/
  text-align: center;
}
.section-title::after{
  /*position: absolute;
  content: "";
  width: 64px;
  height: 0.18rem;
  left: 0;
  right: 0;
  margin: auto;
  top: 2rem;
  background-color: var(--first-color);*/
}
.skills__container{
  grid-template-columns: repeat(2,1fr);
  align-items: center;
  text-align: initial;
}
.skills__container{
  row-gap: 2rem;
  text-align: center;
}
.skills__subtitle{
  margin-bottom: var(--mb-2);
}
.skills__text{
  margin-bottom: var(--mb-4);
}
.skills__data{
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  font-weight: var(--font-semi);
  padding: .5rem 1rem;
  margin-bottom: var(--mb-4);
  border-radius: .5rem;
  box-shadow: 0 4px 25px rgba(14,36,49,.15);
}
.skills__icon{
  font-size: 2rem;
  margin-right: var(--mb-2);
  color: var(--first-color);
}
.skills__names{
  display: flex;
  align-items: center;
}
.skills__bar{
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: var(--first-color);
  height: .25rem;
  border-radius: .5rem;
  /*z-index: var(--z-back);*/
  
}
.skills__html{
  width: 80%;
}
.skills__css{
  width: 70%;
}
.skills__js{
  width: 50%;
}
.skills__ux{
  width: 40%;
}
.skills__PHP{
  width: 90%;
}
.skills__img{
  border-radius: .5rem;
  padding-left: 30px;
  width: 570px;
}
.blog_container{
  width: 350px;
  
  
  margin: auto;
  margin-top: 20px;
  border-radius: 4px;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
  
 

}
.img-container img{
  width: 100%;
  height: 100%;
  border-radius: 4px 4px 0px 0px;
}
.content-container{
 
  padding: 10px 30px;
}
.btn{
  background: #664EF7;
  
  font-size: 12px;
  padding: 10px 20px;
  letter-spacing: 0.04rem;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 700;
}
.btn:hover{
  background: #7C66FF;
  color: white;
}
.content-container h2{
  background: #39A9DB;
  width: 80px;
  font-size: 8px;
  padding: 5px;
  color: white;
  text-align: center;
  letter-spacing: 0.08rem;
  text-transform: uppercase;
  font-weight: 700;
  
}
.content-container h1{
  
  font-size: 24px;
}
.content-container p{
  color: grey;
  font-weight: 700;
  font-size: 12px;
  letter-spacing: 0.02rem;
  line-height: 1.3rem;
  margin-bottom: 30px;
}
.block{
  display: inline-block;
  margin-left: 10px ;
}