@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap');

:root{
    --header-height: 3rem;
    --font-semi: 600;
  }
  
  /*===== Colores =====*/
  :root{
    --first-color: #4070F4;
    --second-color: #0E2431;
  }
  
  /*===== Fuente y tipografia =====*/
  :root{
    --body-font: 'Poppins', sans-serif;
    --big-font-size: 2rem;
    --h2-font-size: 1.25rem;
    --normal-font-size: 0.938rem;
  }
  @media screen and (min-width: 768px){
    :root{
      --big-font-size: 3.5rem;
      --h2-font-size: 2rem;
      --normal-font-size: 1rem;
    }
  }
  
  /*===== Margenes =====*/
  :root{
    --mb-1: 0.5rem;
    --mb-2: 1rem;
    --mb-3: 1.5rem;
    --mb-4: 2rem;
    --mb-5: 2.5rem;
    --mb-6: 3rem;
  }
  
  /*===== z index =====*/
  :root{
    --z-back: -10;
    --z-normal: 1;
    --z-tooltip: 10;
    --z-fixed: 100;
  }

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: var(--body-font) !important;

}
.navbar-brand{
    font-size: var(--normal-font-size)!important;
    
    
}

/*--navigation--*/
.I_header{
  top: 0;
  left: 0;
  z-index: var(--z-fixed);
  background-color: #fff;
  box-shadow: 0 1px 4px rgba(146,161,176,.15)
}
.nav{
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: var(--font-semi);
    
}
.navbar-brand{
  padding-right: var(--mb-6);
}
.contain{

  padding-top: 40px;
  width: 700px !important;

}

.form-control{
    border-radius: 0% !important;

}
@media screen and (max-width: 567px){

  .contain{
    width: 350px!important;
  }
}
.footer{
  background-color: var(--second-color);
  color: #fff;
  text-align: center;
  font-weight: var(--font-semi);
  padding: 2rem 0;
  margin-top: var(--mb-6);
}
.footer__title{
  font-size: 2rem;
  margin-bottom: var(--mb-4);
}
.footer__social{
  margin-bottom: var(--mb-4);
}
.footer__icon{
  font-size: 1.5rem;
  color: #fff;
  margin: 0 var(--mb-2)
}